{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

 
{% block content %}
<div class = "container">
  <form class="form-signin" method="POST" action="/addrecipe">
      <h2 class="form-signin-heading">Add A Recipe</h2>
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.title)}}
      {{ wtf.form_field(form.description)}}
      {{ wtf.form_field(form.recipe)}}
     
      <button class="btn btn-lg btn-primary btn-block" type="submit">Add Recipe</button>
  
  </form>

</div>
 

 
{% endblock %} 