{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% block styles%}
        {{ super() }}
          <!-- <link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}"> -->
          <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    {% endblock %}


{% block content %}

    <div class="container">

        <form class="form-addrecipe" method="POST" action="/addrecipe">

        <h2 class="form-signin-heading">Please type a recipe</h2>    
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.title)}}
        {{ wtf.form_field(form.description)}}
        {{ wtf.form_field(form.recipe)}}
    
    <button class="btn btn-lg btn-primary btn-block" type="submit" >Add Recipe</button>
    
            

         

    </div>

            

{% endblock %}

</body>
</html>