{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% import "bootstrap/wtf.html" as wtf %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% block styles%}
        {{ super() }}
         
         <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
    {% endblock %}


    {% block content %}

        <div class="container">

            <div class="row">

                <div class="col-sm-4 col-md-4 col-lg-4">
                     <h1 style="font-family: 'Roboto Slab', serif;">  {{recipe.title}} </h1>
                </div>

                <div class="col-sm-4 col-md-4 col-lg-4"></div>

                <div class="col-sm-4 col-md-4 col-lg-4">
                    <a class="btn btn-default" href="/recipe/review/new/{{recipe.id}}"> Write a review </a>
                </div>

            </div>

                <hr>

                <br>

            <div class="row">

                <h2 style="font-family: 'Roboto Slab', serif;"> {{recipe.title}} </h2>

            </div>

            <br>

            <div class="row">

                <div class="col-sm-1 col-md-1 col-lg-1"></div>

                <div class="col-sm-10 col-md-10 col-lg-10">

                    <h3> {{recipe.description}} </h3>

                </div>

                <div class="col-sm-1 col-md-1 col-lg-1"></div>

            </div>

            <br>

            <div class="row">

                <div class="col-sm-2 col-md-2 col-lg-2"></div>

                <div class="col-sm-8 col-md-8 col-lg-8">

                    <p> {{recipe.recipe}} </p>

                </div>

                <div class="col-sm-2 col-md-2 col-lg-2"></div>

            </div>


                <br> <br>


            <hr>

            {% if current_user.id == 1 %}


                <form action="{{ url_for('admin.edit_recipe', id = recipe.id) }}" method=post class=edit-entry>

                    <input type="hidden" name="edit_id" value="{{recipe.id}}" />

                    <input class="btn btn-danger" type="submit" value="Edit Recipe" />

                </form>

           {% else %}

           {% endif %}

            <hr>


            <h3> Reviews </h3>


            <div class="col-sm-1 col-md-1 col-lg-1"></div>

                <div class="col-sm-10 col-md-10 col-lg-10">

                    <ul style="list-style-type: none;">

                        {{macro.displayReviewList(reviews)}}

                    </ul>

                </div>

                <div class="col-sm-1 col-md-1 col-lg-1"></div>

            </div>

            <hr>

        </div>

    {% endblock %}


</body>
</html>